table {
	border: 1px solid black;
	width: 50%;
	border-collapse: collapse;
}


tr {
	border: 1px solid black;
	border-collapse: collapse;
	
	text-align: center;
}

td {
	border: 1px solid black;
	
}

th {
	border: 1px solid black;
	
}

a {
	background-color: brown;
	color: snow;
}

a:hover {
	background-color: red;
	color: lawngreen;
}

